<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Thymeleafexamples - Spring security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:substituteby="index.html::logout"></div>
        <h1>Thymeleafexamples - Spring security</h1>
        <p>This is the <b>administration</b> zone</p>
        <p>Only authenticated users with role <b>ADMIN</b> are allowed to see this page.</p>

        <p><a th:href="@{/admin/index.html(user_add=true)}">Add User</a>

        <table>
                <tbody>
                <tr th:each="user,rowStat : ${users}">
                    <td><a th:href="@{/admin/user.html(user=${user})}"  th:text="${rowStat.count}">1</a></td>
                    <td>
                        <a th:href="@{/admin/user.html(user=${user})}" th:text="${user}">Thymus Thymi</a>
                    </td>
                    <td>password</td>
                    <td>realname</td>
                    <td>
                        <button type="submit" name="removeRow" th:value="${user}">-</button>
                    </td>
                </tr>
                <form method="post" th:if="${webUser} != null" th:object="${webUser}">
                        <tr>
                            <td/>
                            <td width="20%">
                                <input type="text" th:field="*{username}" th:errorclass="fieldError"/>
        <p th:if="${#fields.hasErrors('username')}" class="label label-danger" th:errors="*{username}">Incorrect LP</p>
        </td>
                            <td width="20%">
                                <input type="text" th:field="*{password}" th:errorclass="fieldError"/>
                                <p th:if="${#fields.hasErrors('password')}" class="label label-danger"
                                   th:errors="*{password}">Incorrect LP</p>
                            </td>
                            <td width="20%">
                                <input type="text" th:field="*{realname}" th:errorclass="fieldError"/>
                                <p th:if="${#fields.hasErrors('realname')}" class="label label-danger"
                                   th:errors="*{realname}">Incorrect LP</p>
                            </td>
        <td width="20%">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input name="user_save" type="submit" alignment="center" value="add"/>
        </td>

        </tr>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
                </form>
                </tbody>
            </table>
        </p>
        <p>Groups
            <table>
                <tbody>
                <tr th:each="group,rowStat : ${groups}">
                    <td th:text="${rowStat.count}">1</td>
                    <td><a th:href="@{/admin/group.html(group=${group})}" th:text="${group}">Thymus Thymi</a> </td>
                </tr>
                </tbody>
            </table>
        </p>
        <p>Roles
            <table>
                <tbody>
                <tr th:each="authority,rowStat : ${authorities}">
                    <td th:text="${rowStat.count}">1</td>
                    <td><a th:href="@{/admin/role.html(role=${authority})}" th:text="${authority}">Thymus Thymi</a> </td>
                </tr>
                </tbody>
            </table>
        </p>
        <p><a th:href="@{/admin/menu_add.html}">Add Menu</a>
        <table id="menus">
                <tbody>
                <tr th:each="menu,rowStat : ${menus}">
                    <td th:text="${rowStat.count}">1</td>
                    <td><a th:href="@{/admin/menu.html(menu=${menu.id})}" th:text="${menu.name}">Thymus Thymi</a></td>
                    <td th:text="${menu.path}">path</td>
                    <td>
                        <a>-</a>
                    </td>
                    <td th:text="${menu.path}">path</td>
                </tr>
                </tbody>
            </table>
        </p>
        <p><a href="../index.html" th:href="@{/index.html}">Back to home page</a></p>
    </body>
</html>
